* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    font-size: 14px;
    color: red;
    background-color:red;
}

.full-width {
    width: 100%;
}

.container {
    width: 100%;
}


/* Background Colors */

.bg-color--blue {
    background-color: #3bbdfb;
}

.bg-color--white {
    background-color: #fff;
}

.bg-color--ghost-white {
    background-color: #F8F8FA;
}

.bg-color--silver {
    background-color: #959595;
}

.bg-color--silver-med {
    background-color: #454545;
}

.bg-color--black {
    background-color: #2e2828;
}


/* End Background Colors */


/* Font Colors */

.color--blue {
    color: #3bbdfb;
}

.color--white {
    color: #fff;
}

.color--ghost-white {
    color: #F8F8FA;
}

.color--silver {
    color: #959595;
}

.color--silver-med {
    color: #454545;
}

.color--b lack {
    color: #2e2828;
}


/* End Font Colors */

header nav#top-nav ul {
    list-style-type: none;
    display: inline-block;
}

header nav#top-nav ul.right {
    float: right;
}

header nav#top-nav ul.right li, header nav#top-nav ul.left li {
    display: inline-block;
    padding: 10px 5px;
}

header nav#bottom-nav ul li {
    display: inline-block;
    padding: 10px 5px;
    margin-right: auto;
    margin-left: auto;
}

header nav#bottom-nav ul {
    margin-left: 39%;
    margin-right: auto;
    margin-bottom: auto;
    display: inline-block;
    width: 100%;
}


/* Logo Container */


/*section#logo-container {
    width: 269px;
    height: 95px;
    background: url("logo.jpg") top left no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
    text-indent: -9999px;
}*/

section#logo-container {
    width: 100%;
    height: 155px;
    
}


/* Bottom Nav */